<div class="site-section">
    <div class="container">
        <div class="row">
                <table class="table custom-table">
                  <thead>
                    <tr>
                      <th>id</th>
                      <th>Name</th>
                      <th>Age</th>
                      <th>Number</th>
                      <th>Position</th>
                      <th>Action</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let player of players">
                      <td>{{player.id}}</td>
                      <td><strong class="text-white">{{player.name}}</strong></td>
                      <td> {{player.age}} </td>
                      <td> {{player.number}}</td>
                      <td> {{player.position}} </td>
                      <td> <button class="btn btn-success">Display</button> 
                         <button class="btn btn-warning">Edit</button> 
                         <button class="btn btn-danger">Delete</button> </td>
                    </tr>
                    
                  </tbody>
                </table>
              </div>
    
    </div>
</div>