<div class="hero overlay" style="background-image: url('assets/images/bg_3.jpg');">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-9 mx-auto text-center">
                <h1 class="text-white">Signup</h1>
            </div>
        </div>
    </div>
</div>
<div class="site-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-3"></div>
            <div class="col-lg-6">
                <form [formGroup]="signupForm">

                    <div class="form-group">
                        <input type="text" formControlName="firstName" class="form-control" placeholder="First Name">
                        <div
                            *ngIf="signupForm.controls['firstName'].invalid && (signupForm.controls['firstName'].touched || signupForm.controls['firstName'].dirty) ">
                            <!--se pointer sur une input idForm.controls['input']-->
                            <div *ngIf="signupForm.controls['firstName'].errors.required">
                                First Name is Required
                            </div>
                            <div *ngIf="signupForm.controls['firstName'].errors.minlength">
                                First Name Shoude Have At Least 3 carac
                            </div>
                        </div>
                    </div>


                    <div class="form-group">
                        <input type="text" formControlName="lastName" class="form-control" placeholder="Last Name">
                        <div
                            *ngIf="signupForm.controls['lastName'].invalid && (signupForm.controls['lastName'].touched || signupForm.controls['lastName'].dirty) ">
                            <!--se pointer sur une input idForm.controls['input']-->
                            <div *ngIf="signupForm.controls['lastName'].errors.required">
                                Last Name is Required
                            </div>
                            <div *ngIf="signupForm.controls['lastName'].errors.minlength">
                                Last Name Shoude Have At Least 4 carac
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <input type="text" formControlName="email" class="form-control" placeholder="Email">
                        <div
                            *ngIf="signupForm.controls['email'].invalid && (signupForm.controls['email'].touched || signupForm.controls['email'].dirty) ">
                            <!--se pointer sur une input idForm.controls['input']-->
                            <div *ngIf="signupForm.controls['email'].errors.required">
                                pwd is Required
                            </div>
                            <div *ngIf="signupForm.controls['email'].errors.email">
                                Email Forma invalid
                            </div>

                        </div>
                    </div>
                    <div class="form-group">
                        <input type="text" formControlName="pwd" class="form-control" placeholder="Passeword">
                        <div
                            *ngIf="signupForm.controls['pwd'].invalid && (signupForm.controls['pwd'].touched || signupForm.controls['pwd'].dirty) ">
                            <!--se pointer sur une input idForm.controls['input']-->
                            <div *ngIf="signupForm.controls['pwd'].errors.required">
                                pwd is Required
                            </div>
                            <div *ngIf="signupForm.controls['pwd'].errors.minlength">
                                pwd Shoude Have At Least 5 carac
                            </div>
                            <div *ngIf="signupForm.controls['pwd'].errors.maxlength">
                                pwd Shoude Have At Most 10 carac
                            </div>
                            <div *ngIf="signupForm.controls['pwd'].errors.pattern">
                                pwd mast have : <br> at least one capital letter, <br> at least one lowercase letter,
                                <br>at least one symbol <br>and at least one number
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <input type="text" formControlName="confirmPwd" class="form-control"
                            placeholder="Confirme Passeword">
                        <div
                            *ngIf="signupForm.controls['confirmPwd'].invalid && (signupForm.controls['confirmPwd'].touched || signupForm.controls['confirmPwd'].dirty) ">
                            <!--se pointer sur une input idForm.controls['input']-->
                            <div *ngIf="signupForm.controls['confirmPwd'].errors.required">
                                Confirme pwd is Required
                            </div>
                            <div *ngIf="signupForm.controls['confirmPwd'].errors.mustMatch">
                                pwd et confirmPwd must mutch
                            </div>
                        </div>
                    </div>
                    <div class="form-group text-center">
                        <input type="submit" [disabled]="signupForm.invalid" (click)="signup()" class="btn btn-primary py-3 px-5" value="Signup">
                    </div>
                    <span style="color: red; font-weight: bolder;">{{errorMsg}}</span>

                    {{signupForm.value | json}}
                </form>
            </div>
            <div class="col-lg-3"></div>
        </div>
    </div>
</div>