<app-banner [X]="title"></app-banner>
<div class="container">
    <form [formGroup]="searchMatches">
        <div class="form-group" style="margin: 30px;">
            <label for=""> Search By Score</label>
            <input type="text" formControlName="scoreSearch" class="form-control" placeholder="First Name">
        </div>
        <div class="form-group text-center">
            <input type="submit" (click)="search()" class="btn btn-primary py-3 px-5" value="Signup">
        </div>
        <span>{{message}}</span>
    </form>
</div>
<div *ngFor="let findedMatch of matches" style="margin-top: 150px;">
    <div >
        <app-result [match]="findedMatch"></app-result>
    </div>
</div>