<div class="post-entry">
    <a href="#">
        <img src="assets/images/img_1.jpg" alt="Image" class="img-fluid">
    </a>
    <div class="caption">
        <div class="caption-inner">
            <h3>Name :<span style="font-weight: normal;"> {{player.name}}</span></h3>
            <h3>Age :<span style="font-weight: normal;"> {{player.age}}</span></h3>
            <h3>Number :<span style="font-weight: normal;"> {{player.number}}</span></h3>
            <h3>Position :<span style="font-weight: normal;"> {{player.position}}</span></h3>
        </div>
    </div>
</div>